<!-- src/app/features/layout/layout.component.html -->
<mat-drawer-container class="layout-container">
    <mat-drawer
      #drawer
      [mode]="isHandset() ? 'over' : 'side'"
      class="drawer"
      [class.drawer-expanded]="isExpanded()"
      [class.drawer-collapsed]="!isExpanded()"
      opened
    >
    <div class="logo-container">
      <img
        src="assets/images/logo.svg"
        alt="Logo"
        height="52"
        *ngIf="isExpanded()"
      />
      <img
        src="assets/images/logo_white.png"
        alt="Logo"
        height="32"
        *ngIf="!isExpanded()"
      />
    </div>
      <mat-nav-list class="nav-list">
        @for (item of navItems(); track item.route) {
          <a
            mat-list-item
            class="nav-item"
            [routerLink]="item.route"
            routerLinkActive="active"
            [ngClass]="{'padding-fix': !isExpanded()}"
            [matTooltip]="!isExpanded() ? item.label : ''"
            matTooltipPosition="right"
            matTooltipShowDelay="500"
            
          >
            <mat-icon class="material-symbols-outlined" matListItemIcon>{{ item.icon }}</mat-icon>
            @if (isExpanded()) {
              <span class="nav-label" matListItemTitle>{{ item.label }}</span>
            }
          </a>
        }
      </mat-nav-list>
      <mat-nav-list>
        <div class="spacer"></div>
        <a 
          mat-list-item 
          [ngClass]="{'padding-fix': !isExpanded()}" 
          class="nav-item logout-item" 
          (click)="logout()"
        >
          <mat-icon class="material-symbols-outlined" matListItemIcon>exit_to_app</mat-icon>
          @if (isExpanded()) {
            <span class="nav-label" matListItemTitle>Logout</span>
          }
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <mat-toolbar class="header">
        @if (!isHandset()) {
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            matTooltip="Toggle menu"
          >
            <mat-icon class="material-symbols-outlined">{{ drawer.opened ? "menu_open" : "menu" }}</mat-icon>
          </button>
        }
        <span class="spacer"></span>
        <button class="header-actions" mat-icon-button matTooltip="Notifications">
          <mat-icon class="material-symbols-outlined">notifications</mat-icon>
        </button>
        <button class="header-actions" mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon class="material-symbols-outlined">exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
  
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
  
      @if (isHandset()) {
        <nav class="bottom-nav">
          @for (item of navItems().slice(0,4); track item.route) {
            <a
              class="bottom-nav-item"
              [routerLink]="item.route"
              routerLinkActive="active"
            >
              <mat-icon class="material-symbols-outlined">{{ item.icon }}</mat-icon>
              <span class="bottom-nav-label">{{ item.label }}</span>
            </a>
          }
        </nav>
      }
    </mat-drawer-content>
  </mat-drawer-container>
  @if (!isHandset() && showSidenavToggle() && drawer.opened) {
    <button
      mat-icon-button
      [ngClass]="isExpanded() ? 'toggle-sidenav expanded' : 'toggle-sidenav'"
      (click)="toggleSidenavView()"
    >
      <mat-icon class="material-symbols-outlined">
        {{ isExpanded() ? "keyboard_double_arrow_left" : "keyboard_double_arrow_right" }}
      </mat-icon>
    </button>
  }